# Rust language
/target/
/debug/
**/*.rs.bk
*.pdb

# ENV
.env
.env.local
.env.*.local

# build
*.app/
*.dmg
*.dmg.temp
*.exe
*.msi
*.deb
*.rpm

# IDE
.idea/
.zed/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/tasks.json

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# OS temp files
# macOS
.DS_Store
.AppleDouble
.LSOverride
# Windows
Thumbs.db
ehthumbs.db
[Dd]esktop.ini
# Linux
.directory

# Projects
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?